
.jumbotron {
  padding-top: 2rem;
  background: url("./img/projects/utamaa.png") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron2 {
  padding-top: 0rem;
  background: url("./img/projects/9.png") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.jumbotron3 {
  padding-top: 0rem;
  background: url("./img/projects/10.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.jumbotron4 {
  padding-top: 0rem;
  background: url("./img/projects/8.jpeg") left no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.jumbotron5 {
  padding-top: 0rem;
  background: url("./img/projects/12.png") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.slidee{
  position: absolute;
}
.fix{
  position: relative;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
.about {
  background-color: #000;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

section{
  padding-top: 6rem;
}